DB_USER=NO
DB_PASS=NO
DB_HOST=NO
DB_PORT=NO
DB_NAME=NO
DEBUG=true
JWT_SECRET_KEY=NO
CLIENT_SECRET=NO-ABdMOzjOefUp7LNMYa6bBZtTgwso
CLIENT_ID=NO-a2ss0m6s1lifgbi8dofkeshmnq0apirh.apps.googleusercontent.com
REDIRECT_URL=NO
YOOKASSA_SHOP_ID=NO
YOOKASSA_SECRET_KEY=NO
PGADMIN_DEFAULT_EMAIL=NO
PGADMIN_DEFAULT_PASSWORD=NO
DOMAIN_EMAIL=NO
YOOKASSA_RETURN_URL=NO