DB_USER=NO
DB_PASS=NO
DB_HOST=NO
DB_PORT=NO
DB_NAME=NO
DEBUG=NO

JWT_SECRET_KEY=NO
JWT_CLIENT_SECRET=NO
JWT_CLIENT_ID=NO
JWT_REDIRECT_URL=NO

YOOKASSA_SHOP_ID=NO
YOOKASSA_SECRET_KEY=NO
YOOKASSA_RETURN_URL=NO

PGADMIN_DEFAULT_EMAIL=NO
PGADMIN_DEFAULT_PASSWORD=NO

DOMAIN_EMAIL=NO

MAIL_USERNAME=NO
MAIL_PASSWORD=NO
MAIL_FROM=NO