DB_USER=NO
DB_PASS=NO
DB_HOST=NO
DB_PORT=NO
DB_NAME=NO
DEBUG=true
JWT_SECRET_KEY=NO
CLIENT_SECRET=NO
CLIENT_ID=NO
REDIRECT_URL=NO
YOOKASSA_SHOP_ID=NO
YOOKASSA_SECRET_KEY=NO
PGADMIN_DEFAULT_EMAIL=NO
PGADMIN_DEFAULT_PASSWORD=NO