DB__USER=NO
DB__PASS=NO
DB__HOST=NO
DB__PORT=NO
DB__NAME=NO
DEBUG=true

JWT__SECRET_KEY=NO
JWT__CLIENT_SECRET=NO-ABdMOzjOefUp7LNMYa6bBZtTgwso
JWT__CLIENT_ID=NO-a2ss0m6s1lifgbi8dofkeshmnq0apirh.apps.googleusercontent.com
JWT__REDIRECT_URL=NO

YOOKASSA__SHOP_ID=NO
YOOKASSA__SECRET_KEY=NO
YOOKASSA__RETURN_URL=NO

PGADMIN_DEFAULT_EMAIL=NO
PGADMIN_DEFAULT_PASSWORD=NO

DOMAIN_EMAIL=NO