DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=your_password
DB_NAME=mini_shop
DEBUG=False
JWT_SECRET_KEY=your_secret_key
CLIENT_SECRET=your_google_client_secret
CLIENT_ID=your_google_client_id
YOOKASSA_SHOP_ID=your_yookassa_shop_id
YOOKASSA_SECRET_KEY=your_yookassa_secret_key